:root {
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --quote-font-family: 'Parisienne', cursive;
    --primary-color: #F9F7FE;
    --brand-color: #9802a6;
    --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font-family);
}
h1{
    font-size: 76px;
}
.homepage h3 {
    font-size: 20px;
    opacity: 0.7;
    }
.hero p { 
    font-weight: 500;
    font-size: 24px;
    font-family: var(--default-font-family);
}

.hero {
    text-align: center;
    background: var(--primary-color);
    padding: 55px 20px;
}
.homepage p {
    font-size: 16px;
    opacity: 0.7;
    
}
.content-container p {
    font-size: 16px;
    font-family: var(--default-font-family);
    opacity: 0.8;
}
.about-me-content {
    margin-top: 30px;
}

#skills h3 {
    color: var(--brand-color);
    font-size: 24px;

}
#certificate h3 {
    color: var(--brand-color);
    font-size: 24px;

}
#certificate a {
    color: var(--brand-color);
    text-decoration: none;
}
#certificate  li {
   list-style: none; 
}

.logo {
    max-height: 40px;
}
nav {
    padding: 15px;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 40px;
    font-family: var(--heading-font-family);
    margin-left: 18px;
}
nav a {
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a,
footer .email-link:hover {
    color: var(--brand-color);
    
}
footer {
    margin: 60px 0;
}
h4 {
    font-size: 34px;
}
footer .contact-box {
    background-color: var(--primary-color);
    padding: 30px 120px;
    border-radius: 10px;

}
footer .contact-box p {
    margin: 0;
}
 footer .email-link {
     text-decoration: none;
     color: black;
     font-size: 20px;
     transition: all 100ms ease-in-out;
 }
 footer .social-links a {
     margin: 0 20px;
     color: var(--brand-color);
     background-color: var(--primary-color);
     padding: 10px 14px;
     border-radius: 50%;
     font-size: 18px;
     transition: all 100ms ease-in-out;
 }
 footer .social-links a:hover {
     color: white;
     background-color: var(--brand-color);
 }
 
.content-container h2 {
    font-size: 34px;
}
.btn-branding {
    color: white;
    background: var(--brand-color);
    box-shadow: var(--shadow);
}
.source a {
 color: var(--brand-color);
}

@media (max-width: 576px) {
    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 28px;
        text-align: center;
    }

    body p {
        text-align: center;
    }
    .btn-branding{
        display: block;
        margin: 24px 32px;
    }
}
@media (min-width: 576px){
    .btn-branding {
        margin-top: 20px;
    }
    .portofolio {
        margin-top: 38px;
    }
    
}
@media (max-width:776px) {
    .contact-qoute {
        margin-top: 23px;
    }
}
@media (min-width: 776px) {
    #certificate {
        text-align: center;
    
    }
    .contact-qoute {
        margin-top: 44px;
    }
}
